
body{
    background-image: linear-gradient(white, #ab35dc40)
}
.bgPortada{
    background-image: url('../img/portada1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.portada{
    height: 400px;
    margin: 0px;
}

.bienvenido{
    margin-top: -50px;    
    color: white;
    background-color:#ff1fb0;
    height: 150px;
}

.busqueda{
    margin: 30px 0 0 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-search{
    width: 300px;
    height: 40px;
    background-color:#1bb7da;
    border-color: #1bb7da;
}

.btn-search:hover{
    background-color: #14829a;
    border-color: #14829a;
}

.dropSearch{
    background-color:#1bb7da;
    border-color: #1bb7da;
}

.dropSearch:hover{
    background-color: #14829a;
    border-color: #14829a;
}

.show>.btn-primary.dropdown-toggle {
    background-color: #14829a;
    border-color: #14829a;
}

